#letsPlay {
  background-color: lightblue;
  align: right;
  width: 50%;
}
#rules {
  background-color: lightgray;
  width: 50%;
}
#toss {
  background-color: lightblue;
  width: 50%;
}
div.container {
  align-items: center;
  clear:left;
}
#bt {
  color: white;
  background-color: red;
  height: 80px;
  width: 160px;
}
#bt:hover {
  background-color: white;
  color: red;
}
.toss1 {
  color: gr;
  text-emphasis-color: green;
}
#dice {
  background-color: yellow;
  float; right;
}
